<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>%s</title>
    <style>
        html{
            font-family: Arial;
        }
        table {
            border: black solid 1px;
        }
        table > thead > tr > th {
            border-bottom: black solid 1px;
            padding: 5px;
        }
        table > tbody > tr > td {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>

    </header>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Patient
                    </th>
                    <th>Name</th>
                <th>Birthdate</th>
                <th>Care-Level</th>
                <th>Room</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>%s</td>
                <td>%s</td>
                <td>%s</td>
                <td>%s</td>
                <td>%s</td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer>

    </footer>
</body>
</html>